.Cities {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: gray;

  .titleWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .city {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin-right: 20px;
  }
}
